name: Build and Deploy to Test

on:
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: test
    environment:
      name: test
      url: https://test.pongello.nl/
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: test ping
        run: |
          ping -c 4 10.10.4.14
      # ff testen of het werkt hihihih
      #- name: Test SSH connection from GitHub Actions
      #  run: |
      #    ssh -o StrictHostKeyChecking=no -i ${{ secrets.SSH_KEY }} ansible@${{ secrets.HOST }} -p ${{ secrets.PORT }} "echo connected"

      
      #ssh shit
      - name: Deploy to test server
        uses: appleboy/ssh-action@v1.2.0
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.SSH_KEY }}
          port: ${{ secrets.PORT }}
          script: |
            cd /home/ansible/compose
            docker compose down
            docker compose up --build -d
