name: Build and Deploy to Test

on:
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: test
    environment:
      name: test
      url: https://test.pongello.nl/
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: test ping
        run: |
          ping -c 4 10.10.4.14

      - name: copy paste compose file
        run: |
          scp ./docker/dockercomposetest ${{ secrets.USERNAME }}@${{ secrets.HOST }}:/home/ansible/
      
      #ssh shit
      - name: Deploy to test server
        uses: appleboy/ssh-action@v1.2.0
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.SSH_KEY }}
          port: ${{ secrets.PORT }}
          script: |
            cd /home/ansible/compose
            docker compose down
            docker compose up --build -d
